<div class = "container">
  <div class = "row">
    <select class="form-control" name="categoryId" [(ngModel)]="categoryId" (change)="categoryBookList(categoryId)" >
      <option value="0">--All Books--</option>
      <option *ngFor="let category of bookCategories" value="{{ category.id }}">{{
        category.name
      }}</option>
    </select>
  </div>
  <div class = "container">
    <mat-table [dataSource]="books">
      <ng-container matColumnDef='bookImage'>
        <mat-header-cell *matHeaderCellDef>Book Image</mat-header-cell>
        <mat-cell *matCellDef="let book">
            <a class="p-2" routerLink="/book/{{ book.bookId }}"><img src="{{ book.imageUrl }}"
                    style="width: 80px; height: 90px" /></a>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef='bookTitle'>
        <mat-header-cell *matHeaderCellDef>Book Title</mat-header-cell>
        <mat-cell *matCellDef="let book">
            {{book.title }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef='bookPrice'>
        <mat-header-cell *matHeaderCellDef>Book Price</mat-header-cell>
        <mat-cell *matCellDef="let book">
            {{book.price }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef='bookRating'>
        <mat-header-cell *matHeaderCellDef>Book Rating</mat-header-cell>
        <mat-cell *matCellDef="let book">
            <ngb-rating [rate] = "book.ratings "></ngb-rating>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="Columns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: Columns"></mat-row>
    </mat-table>
    <mat-paginator [pageSize]="3"></mat-paginator>
  </div>
</div>
