<div class="container" style="width: 40%;">
  <h3 class="text-center">Registration Form</h3>
  
  <form #UserRegistrationForm = "ngForm">
    <div class="form-group">
      <label class="form-label">Name: </label>
      <input type="text" class="form-control" name="username" [(ngModel)]="customer.userName" />
    </div>

    <div class="form-group">
      <label class="form-label">Email ID: </label>
      <input type="email" class="form-control" name="emailid" [(ngModel)]="customer.emailId" />
    </div>

    <div class="form-group">
      <label class="form-label">Password: </label>
      <input type="password" class="form-control" name="password" [(ngModel)]="customer.password" />
    </div>

    <div class="form-group">
      <label class="form-label">Contact: </label>
      <input type="number" class="form-control" name="contact" [(ngModel)]="customer.contact" />
    </div>

    <div class="form-group" >
      <label class="form-label" >Gender: </label>
      <select class="form-control" name="gender" [(ngModel)]="customer.gender">
        <option value="" >--select--</option>
        <option *ngFor="let gender of Gender" value="{{ gender }}" >{{
          gender
        }}</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-label">Address : </label>
      <input type="text" class="form-control" name="address" [(ngModel)]="customer.address"  />
    </div>

    <div class="form-group">
      <label class="form-label" >State: </label>
      <select class="form-control" name="stateid" [(ngModel)]="customer.stateid">
        <option value="" >--select--</option>
        <option *ngFor="let state of states" value="{{ state.stateId }}" >{{
          state.stateName
        }}</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-label" >City: </label>
      <select class="form-control" name="city" [(ngModel)]="customer.cityid">
        <option value="">--select--</option>
        <option *ngFor="let city of cities" value="{{ city.cityId }}" >{{
          city.cityName
        }}</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-label">Postal Code: </label>
      <input type="number" class="form-control" name="postalcode" [(ngModel)]="customer.postalcode" />
    </div>

    <button type="submit" class="btn btn-block btn-primary" (click)="doRegister()"> Register</button>
  </form>
</div>
